{% extends 'admin/base.html.twig' %}

{% block page_title %}Nouvelle Page{% endblock %}

{% block admin_content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Nouvelle Page</h5>
            <a href="{{ path('app_admin_pages') }}" class="btn btn-outline-secondary">
                <i class="fas fa-arrow-left"></i> Retour à la liste
            </a>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-8 mb-3">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form_row(form.isPublished) }}
                    </div>
                </div>
                
                {{ form_row(form.content) }}
                
                <div class="accordion mt-4 mb-4" id="seoAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeo" aria-expanded="false" aria-controls="collapseSeo">
                                Options SEO (référencement)
                            </button>
                        </h2>
                        <div id="collapseSeo" class="accordion-collapse collapse" aria-labelledby="headingSeo" data-bs-parent="#seoAccordion">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        {{ form_row(form.metaTitle) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_row(form.metaDescription) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Créer la page
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
