{% for dish in dishes %}
    <div class="col-md-6 col-lg-4 menu-item" data-category="{{ dish.category.id }}">
        <div class="d-flex flex-column h-100">
            {% if dish.image %}
                <img src="{{ asset('images/dishes/' ~ dish.image) }}" alt="{{ dish.name }}" class="menu-item-image">
            {% else %}
                <img src="{{ asset('images/dish-placeholder.jpg') }}" alt="{{ dish.name }}" class="menu-item-image">
            {% endif %}
            
            <div class="menu-item-content flex-grow-1">
                <h4 class="menu-item-title">{{ dish.name }}</h4>
                <p class="menu-item-description">{{ dish.description }}</p>
                <div>
                    <span class="menu-item-price">{{ dish.price|number_format(2, ',', ' ') }} €</span>
                    {% if dish.isSeasonal %}
                        <span class="menu-item-seasonal">De saison</span>
                    {% endif %}
                </div>
                
                {% if dish.allergens.count > 0 %}
                    <div class="menu-item-allergens">
                        Allergènes: 
                        {% for allergen in dish.allergens %}
                            {{ allergen.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12">
        <div class="alert alert-info">
            Aucun plat ne correspond à vos critères de recherche.
        </div>
    </div>
{% endfor %}
